In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/IPK.xlsx")
df

     Nama  Usia  IPK Lulus_tepat_Waktu
0    Rina    23  3.9                Ya
1   Ilham    28  NaN                Ya
2     Uni    25  2.7             Tidak
3    Diah    24  3.1                Ya
4   Fitri    22  3.6                Ya
5   Andre    23  NaN             Tidak
6  Ma'ruf    21  3.3                Ya
7   Affan    25  2.5             Tidak
8  Nu'man    24  2.9             Tidak
9  Khalif    19  3.4               NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nama               10 non-null     object
 1   Usia               10 non-null     int64
 2   IPK                8 non-null      float64
 3   Lulus_tepat_Waktu  9 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

In [ ]:
df.isna().sum()

Nama                 0
Usia                 0
IPK                  2
Lulus_tepat_Waktu    1
dtype: int64

In [ ]:
df['Lulus_tepat_Waktu'].fillna(df['Lulus_tepat_Waktu'].value_counts().idxmax(),
inplace=True)
df

     Nama  Usia  IPK Lulus_tepat_Waktu
0    Rina    23  3.9                Ya
1   Ilham    28  NaN                Ya
2     Uni    25  2.7             Tidak
3    Diah    24  3.1                Ya
4   Fitri    22  3.6                Ya
5   Andre    23  NaN             Tidak
6  Ma'ruf    21  3.3                Ya
7   Affan    25  2.5             Tidak
8  Nu'man    24  2.9             Tidak
9  Khalif    19  3.4                Ya

In [ ]:
# df = df.fillna(0)

In [ ]:
# df

     Nama  Usia  IPK Lulus_tepat_Waktu
0    Rina    23  3.9                Ya
1   Ilham    28  0.0                Ya
2     Uni    25  2.7             Tidak
3    Diah    24  3.1                Ya
4   Fitri    22  3.6                Ya
5   Andre    23  0.0             Tidak
6  Ma'ruf    21  3.3                Ya
7   Affan    25  2.5             Tidak
8  Nu'man    24  2.9             Tidak
9  Khalif    19  3.4                Ya

In [ ]:
# imputer = SimpleImputer(strategy='mean', missing_values=np.nan) 
# imputer = imputer.fit( df[['IPK']] ) 
# df[['IPK']] = imputer. transform( df[['IPK']] )

In [ ]:
# df

     Nama  Usia    IPK Lulus_tepat_Waktu
0    Rina    23  3.900                Ya
1   Ilham    28  3.175                Ya
2     Uni    25  2.700             Tidak
3    Diah    24  3.100                Ya
4   Fitri    22  3.600                Ya
5   Andre    23  3.175             Tidak
6  Ma'ruf    21  3.300                Ya
7   Affan    25  2.500             Tidak
8  Nu'man    24  2.900             Tidak
9  Khalif    19  3.400                Ya

In [ ]:
df = df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
df

     Nama  Usia    IPK Lulus_tepat_Waktu
0    Rina    23  3.900                Ya
1   Ilham    28  3.175                Ya
2     Uni    25  2.700             Tidak
3    Diah    24  3.100                Ya
4   Fitri    22  3.600                Ya
5   Andre    23  3.175             Tidak
6  Ma'ruf    21  3.300                Ya
7   Affan    25  2.500             Tidak
8  Nu'man    24  2.900             Tidak
9  Khalif    19  3.400                Ya

In [ ]:
df = df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

    Nama  Usia    IPK Lulus_tepat_Waktu
0   Rina    23  3.900                Ya
1  Ilham    28  3.175                Ya
2    Uni    25  2.700             Tidak
3   Diah    24  3.100                Ya
4  Fitri    22  3.600                Ya

In [ ]:
X = df.iloc[:, :3].values
y = df.iloc[:, 3].values

In [ ]:
df.iloc()

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [ ]:
imputer = imputer.fit(X[:, 1:3])

In [ ]:
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [ ]:
df.head()

    Nama  Usia  IPK Lulus_tepat_Waktu
0   Rina    23  3.9                Ya
1  Ilham    28  NaN                Ya
2    Uni    25  2.7             Tidak
3   Diah    24  3.1                Ya
4  Fitri    22  3.6                Ya

In [ ]:
df = df.fillna(df.median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

    Nama  Usia  IPK Lulus_tepat_Waktu
0   Rina    23  3.9                Ya
1  Ilham    28  0.0                Ya
2    Uni    25  2.7             Tidak
3   Diah    24  3.1                Ya
4  Fitri    22  3.6                Ya

In [ ]:
df['last_review'].fillna(df['last_review'].value_counts().idxmax(),
inplace=True)

In [ ]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [ ]:
df = df.fillna()

ValueError: ignored

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
reviews_col = imputer.fit_transform(df['reviews_per_month'].values.reshape(-1,1))
pd.DataFrame(reviews_col).isnull().sum()

0    0
dtype: int64

In [ ]:
df['reviews_per_month'].isnull().sum()

10052

In [ ]:
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64